@define-color cc-bg rgba(26, 27, 38, 0.9);
@define-color dnd-bg rgba(20, 21, 32, 0.95);

* {
    font-family: SF Pro Display Bold;
    font-weight: bold;
    font-size: 16px;
}

.control-center {
  background: @cc-bg;
  border-radius: 35px;
}

.widget-dnd {
  background: @dnd-bg;
  padding: 5px 10px;
  margin: 20px 10px;
  border-radius: 50px;
  font-size: large;
  color: #7aa2f7;
}
